<section class="px-4 py-20">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-5xl font-extrabold mb-14">Lo que dicen nuestros clientes</h2>
    <div class="space-y-14">
      <blockquote class="bg-gray-100 p-8 rounded-2xl shadow-xl">
        <p class="italic text-2xl leading-relaxed">“Su equipo llevó nuestra marca local al siguiente nivel. Duplicamos nuestras ventas en solo tres meses.”</p>
        <footer class="mt-6 font-bold text-xl text-gray-700">Pozos Profundos Del Litoral</footer>
      </blockquote>
      <blockquote class="bg-gray-100 p-8 rounded-2xl shadow-xl">
        <p class="italic text-2xl leading-relaxed">“Nuestra empresa tiene por fin la página que se merece.”</p>
        <footer class="mt-6 font-bold text-xl text-gray-700">Aceros del Litoral</footer>
      </blockquote>
    </div>
  </div>
</section>
