<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href="public/images/isotipo.png" sizes="32x32" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><slot name="title" /></title>
    <meta name="description" content="Professional marketing services." />
  </head>
  <body class="font-sans antialiased">
    <slot />
  </body>
</html>