---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
const { title = "FUHR – Marketing de Crecimiento" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="Agencia local que impulsa negocios costeros con SEO, Ads y Web." />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="icon" type="image/svg+xml" href="/hero.jpg" />
    <link rel="stylesheet" href="/src/styles/global.css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HY0L17P58X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-HY0L17P58X');
    </script>
  </head>
  <body class="font-sans text-darkBlue bg-white antialiased">
    <NavBar />
    <slot />
  </body>
</html>
